
{% extends 'base.html' %}
{% block content %}
<form class="mb-3" method="POST">
    <div class="mb-3">
        <label class="form-label" for="password">Старый пароль:</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Старый пароль">
    </div>
    <div class="mb-3">
        <label class="form-label" for="newpass">Новый пароль:</label>
        <input class="form-control" type="password" id="newpass" name="newpass" placeholder="Новый пароль">
    </div>
    <div class="mb-3">
        <label class="form-label" for="newpass2">Повторите новый пароль:</label>
        <input class="form-control" type="password" id="newpass2" name="newpass2" placeholder="Повторите новый пароль">
    </div>
    <button class="btn btn-primary">Изменить пароль</button>
</form>
{% endblock %}