{% extends 'base.html' %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Логин</th>
            <td>{{ user.login }}</td>
        </tr>
        <tr>
            <th scope="row">Идентификатор</th>
            <td>{{ user.user_id }}</td>
        </tr>
        <tr>
            <th scope="row">Имя</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th scope="row">Фамилия</th>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <th scope="row">Отчество</th>
            <td>{{ user.surname }}</td>
        </tr>
        <tr>
            <th scope="row">Роль</th>
            <td>{{ role[0].role_name }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}