{% macro order_form(action='create', order=None) %}
<form method="post">
    {% if action == 'create' %}
    
    <div class="mb-3">
        <label class="form-label" for="date_order">Дата доставки</label>
        <input class="form-control" type="date" id="date_order" name="date_order">
    </div>
    <div class="mb-3">
        <label class="form-label" for="time_order">Время доставки</label>
        <input class="form-control" type="time" id="time_order" name="time_order">
    </div>
    <div class="mb-3">
        <label class="form-label" for="source">Адрес отправления</label>
        <input class="form-control" type="text" id="source" name="source" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="dest">Адрес назначения</label>
        <input class="form-control" type="text" id="dest" name="dest" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="weight">Вес груза</label>
        <input class="form-control" type="text" id="weight" name="weight">
    </div>
    <div class="mb-3">
        <label class="form-label" for="haul">Вид груза</label>
        <input class="form-control" type="text" id="haul" name="haul">
    </div>
 
    <div class="mb-3">
        <label class="form-label" for="car_type">Тип машины</label>
        <input class="form-control" type="text" id="car_type" name="car_type">
    </div>
    <div class="mb-3">
        <label for="user_descr" class="form-label">Дополнительное описание:</label>
        <textarea class="form-control" id="user_descr" name="user_descr" rows="3"></textarea>
      </div>
    {% endif %}
    <button class="btn btn-primary">Сохранить</button>
</form>
{% endmacro %}
