{% extends 'base.html' %}

{% block content %}
<h2>Личный кабинет</h2>
<div class="row">
    {% for user in users %}
    <div class="col-md-6"> <!-- Ширина колонки половина от размера -->
        <div class="card">
            <div class="card-body d-flex align-items-center"> <!-- Добавляем d-flex и align-items-center для выравнивания -->
                {% if user.user_image %}
                <img src="data:image/jpeg;base64,{{ user.user_image }}" alt="Profile Image" class="img-fluid rounded-start" style="max-width: 50%;"> <!-- Используем max-width для контроля размера -->
                {% endif %}
                <div class="ms-3"> <!-- Отступ слева -->
                    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                    <p class="card-text">
                        <strong>Логин:</strong> {{ user.login }}<br>
                        <strong>Фамилия:</strong> {{ user.last_name }}<br>
                        <strong>Отчество:</strong> {{ user.surname or '' }}<br>
                        <strong>Email:</strong> {{ user.email or '' }}<br>
                        <strong>Номер телефона:</strong> {{ user.phone_num or '' }}
                        {% if user.role_id == 2 %}
                        <br><strong>Паспортные данные:</strong> {{ user.pass_info }}<br>
                        <strong>Класс вождения:</strong> {{ user.classdriver }}<br>
                        {% endif %}
                    </p>
                    <div class="my-1">
                    <a class="btn btn-primary" href="{{ url_for('edit_user', user_id=user.user_id) }}">Редактировать</a>
                    </div>
                    <div class="mx-0.5">
                    <a class="btn btn-secondary" aria-current="page" href="{{ url_for('change_password', user_id=current_user.id) }}">Изменить пароль</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal"
                    data-delete-url="{{ url_for('delete_user', user_id=user.user_id) }}">Удалить</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="modal" id="delete-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подтвердите удаление личного кабинета</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить личный кабинет?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                <form action="" method="post">
                    <button type="submit" class="btn btn-danger">Да</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='delete_user.js') }}"></script>
{% endblock %}
